.card {
    border: none;
    background: #eee;
}

.search {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.search-input {
    padding: 0 10px;
    margin-top: 5px;
    line-height: 20px;
    border: 0;
    outline: 0;
    width: 100%;
    caret-color: #0070F0;
    font-size: 19px;
    font-weight: 300;
    color: black;
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #00D4F0;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    background-color: #0070F0;
}

.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 2s
}

.card-inner:hover {
    transform: scale(1.2)
}

.mg-text {
    font-size: 12px;
    line-height: 14px;
}

span{
    color: #00D4F0;
}