table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #0070F0;
  color: #fff;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

#order-id{
  width: 80px;
}

#contractor{
  width: 180px;
}

#total-price{
width: 120px;
}

#order-date{
  width: 120px;
}
#duration{
  width: 80px;
}

th, td{
  padding-left: 20px;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #00D4F0;
}