h3 span {
    color: #00D4F0;
    text-decoration: none;
    cursor: default;
}

span {
    color: #0070F0;
    cursor: pointer;
    text-decoration: underline;
}

span:hover {
    text-decoration: none;
}

.btn {
    background-color: #00D4F0;
    color: #fff;
}

.btn:hover {
    background-color: #0070F0;
}